.left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.text h1 {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
}

.doctor {
  margin: 0;
  font-size: 13px;
  color: #fbfbfb;
}

.page {
  background: #ffffff;
  min-height: 100vh;
}